.page{
    font-family: Cabin, sans-serif; }
    .page-header{
        position: fixed;
top: 0;
        width: 100%;
        z-index: 2;
    }
.munu_one{
    
    display: flex;
    background: #10bbd5;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 52px;
    margin: 0;
    font-family: sans-serif;
}
.shop_sum{
    display: flex;
    
}
    .shop_suma {
        color: #fff;
    }
    .button_shop{
        position: relative;
        background-image: url(../images/cart_icon.png);
        background-color: transparent;
        color:transparent;
        border: none;
        width: 40px;
height: 40px;
margin-left: 8px;
padding: 0;
    }
        .button_shop::before{
        position: absolute;
        content: "0";
        color: #000;
        top: 9px;
        right: 12px;

    }
    .suma{
        position: relative;
        right: 21px;
        top: 1px;
        font-size: 12px;
line-height: 83%;
    }

.menu_two{
    font-family: sans-serif;
    align-items: center;
    height: 32px;
    display: flex;
    background:#fff;
    padding: 4px 52px;
    justify-content: space-between;
}
.user li{
    display: inline;
    list-style: none;
    & a{ padding-left: 40px;
        font-size: 16px;
color: #000;
    }
}
.page_main{
    background-color:#f5efef;
}
h1{
    margin: 0;
    margin-top: 100px;
    padding: 32px 0 23px 52px;
}

.book_img{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 30px;
}
.image{
    padding: 0;
    padding-right: 40px;
}

.hit_img{
    position: relative;
    left: 8px; 
    margin: 0;
    border-radius: 4px;
padding: 4px 8px;
width: 36px;
height: 32px;
background: #4200ff;
}
.hit{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
}
.new_img{ 
    position: relative;
    left: 12px; 
    margin: 0;
    border-radius: 4px;
padding: 4px 8px;
width: 47px;
height: 32px;background: #af39e7;
}
.new{
    
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #f8fdfe;
}
.off_img{
    position: relative;
    right: 165px; 
    margin: 0;
    border-radius: 4px;
padding: 4px 8px;
width: 70px;
height: 32px;
background: #ea33c0;
}
.off{
    white-space: nowrap; 
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #f8fdfe;
}
.off_img_one{
    position: relative;
    right: 210px; 
    margin: 0;
    border-radius: 4px;
padding: 4px 8px;
width: 70px;
height: 32px;
background: #ea33c0;
}
.off_one{
    white-space: nowrap; 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
}
.off_img_two{
    position: relative;
    right: 160px; 
    margin: 0;
    border-radius: 4px;
padding: 4px 8px;
width: 70px;
height: 32px;
background: #ea33c0;
}
.off_two{
    white-space: nowrap; 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
}
.book{
    height: 512px;
    display: grid;
    background-color: #fff;
    padding: 32px;
}
.listings_top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    margin: 28px 52px 0 52px;
    padding-bottom: 120px;
}
.price{
    display: flex;
    
}
.rebate{
    margin: 0;
font-weight: 500;
font-size: 24px;
line-height: 133%;
text-decoration: line-through;
color: #8e8e8e;
}
.price_rebate{
    margin: 0;
font-weight: 500;
font-size: 24px;
line-height: 133%;
color: #e90000;
padding-right: 24px;
}

.name{
    margin: 0;
    margin-top: 16px;
    white-space: nowrap; 
font-weight: 700;
font-size: 20px;
line-height: 140%;
color: #1f1f1f;
border-bottom: 1px solid #a8a8a8; 
width: 242px;
}
.name_eight{
    width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-top: 16px;
    white-space: nowrap; 
font-weight: 700;
font-size: 20px;
line-height: 140%;
color: #1f1f1f;
border-bottom: 1px solid #a8a8a8; 
width: 242px;
}
.autor{
    margin: 0;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #8e8e8e;
}

.add{
    margin-top: 16px;
    border-radius: 4px;
padding: 8px 24px;
width: 242px;
height: 40px;
background-color: #4c394e;
color: #fff;
border: none;
cursor: pointer;
}
.end{
    margin-top: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    height: 40px;
    background: #4d762d;
    color: #fff;
    border: none; 
    cursor: pointer; 
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 52px;
    padding-right: 52px;
    background-color: #4c394e;
    height: 88px;
font-size: 16px;

color: #f8fdfe;
}
.button_position{
    position: fixed; 
    bottom: 30px; 
    right: 50px; 
   
   
    }
  .button_chat{
      background-color: transparent;
      border: none;
      align-items: center;
     
  }
  .chat{
  background: #10bbd5;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  }